@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";

@theme base {
	--home-font: "Funnel Display", serif;
	--hero-font: "Space Mono", monospace;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	scroll-behavior: smooth;
}
